<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="config" type="CppFileRunConfiguration" factoryName="CppFileRunConfiguration" singleton="false" REDIRECT_INPUT="true" REDIRECT_INPUT_PATH="$PROJECT_DIR$/solving_area/input.txt" ELEVATE="false" USE_EXTERNAL_CONSOLE="false" EMULATE_TERMINAL="false" WORKING_DIR="file://$PROJECT_DIR$" PASS_PARENT_ENVS_2="true" PROJECT_NAME="Problem_Solving" TARGET_NAME="config" CONFIG_NAME="config">
    <option name="sourceFile" value="E:\Problem_Solving\solving_area\new_solve.cpp" />
    <option name="toolchainName" value="MinGW" />
    <method v="2">
      <option name="com.jetbrains.cidr.cpp.runfile.CppFileBuildBeforeRunTaskProvider$BasicBuildBeforeRunTask" enabled="true" />
    </method>
  </configuration>
</component>